<form action="/" method="post" enctype="multipart/form-data">
    <h3>Upload Profile Image</h3>
    <input type="file" name="sampleFile" accept="image/*">
    <input type="submit" value="Submit">
</form>


<div class="card">
    <img class="card_image" src="/img/default.jpg" alt="">
    <h1 class="card_title">Amish Kumar Singh</h1>
    <div class="card_job">Web Developer</div>
    <p class="card_about">
        Hi I am amish kumar singh. Currently pursuing b-tech from techno india university. i love competative programming and web development. I love to read books and travelling.
    </p>
</div>